*.hi
*.o

viminfo
vim/

blender/
gimp-2.6/

vlc/

xmonad/xmonad-x86_64-linux
xmonad/xmonad.errors

ssh/authorized_keys
ssh/id_rsa
ssh/id_rsa.pub
ssh/known_hosts

# history files
bash_history
lesshst

# local session files
rtorrent_session/

gh_config
